/*
!/src/
!/include/
!/CMakeLists.txt
!/.gitignore
!/README.md

!/*/
!/*/src/
!/*/include/
!/*/CMakeLists.txt

build/
bin/
obj/
*.o
*.obj
*.exe
*.out
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile